@import '../functions.scss';

.addPost {
  margin: 50px 0;

  &__inner {
    background-color: var(--darken-black-custom-hsl);

    border-radius: 5px;

    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25);
  }
}

.addPostForm {
  display: flex;

  padding: adaptive-value(20, 10);

  min-height: adaptive-value(125, 210);

  transition: min-height 0.4s ease;

  &._focusTextarea {
    min-height: adaptive-value(180, 250);
  }

  &__textarea {
    position: relative;

    flex-grow: 1;

    > textarea {
      width: 100%;
      height: 99px;

      font-size: 25px;
      color: var(--white-hsl);

      background-color: transparent;

      border: none;

      resize: none;

      &:focus {
        outline: none;
      }
    }

    > span {
      pointer-events: none;

      position: absolute;
      top: 8px;
      left: 2px;

      font-size: 20px;

      transition: all 0.2s ease;

      ._typingTextarea & {
        opacity: 0;
        visibility: hidden;

        transform: translateX(20px);
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.addPostFormControls {

  @media (max-width: 768px) {
    margin-top: 30px;
  }

  &__list {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

    height: 100%;

    padding: adaptive-value(20, 0);
  }

  &__item {
    margin: 0 5px;

    > label {
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      padding: 16px;

      background-color: var(--white-hsl);

      border-radius: 100%;
    }

    > input[type='file'] {
      display: none;
    }

    > button {
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: var(--primary-blue-hsl);

      padding: 18px 21px;

      border-radius: 100%;
      border: none;

      transition: background-color 0.2s ease;

      @media screen and (min-width: 991.98px) {
        &:hover {
          background-color: var(--primary-darken-blue-hsl);
        }
      }
    }
  }
}
