@import './Navigation.module.scss';
@import '../functions.scss';

.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;

  width: calc(100% - var(--sidebar-width));

  background-color: var(--darken-black-custom-hsl);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
  }

  &__left {
    flex: 1 1 auto;
  }
  &__right {
    flex: 0 1 20%;
  }

  @media (max-width: 991.98px) {
    width: 100%;

    [data-navigation-selector] {
      display: none;
    }
  }
}

.headerSearchForm {
  position: relative;

  display: flex;
  align-items: center;

  &__input {
    flex: auto;

    background-color: var(--primary-color-hsl);
    color: inherit;

    border: none;

    font-size: adaptive-value(16, 14, 991.98);
    padding: adaptive-value(16, 11, 991.98) 15px;

    &:focus {
      outline: none;
    }

    @media (max-width: 991.98px) {
      font-size: 14px;
      padding: 13px 15px;
    }
  }

  span {
    pointer-events: none;

    position: absolute;
    top: 50%;
    left: 15px;

    color: var(--placeholder-color-hsl);

    font-size: adaptive-value(16, 14, 991.98);

    transform: translate(0, -50%);

    transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease;
  }

  &:after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: var(--primary-blue-hsl);

    transform: scale(0);

    transition: transform 0.3s ease;
  }

  &._isSeachFocus {
    &:after {
      transform: scale(1);
    }
  }

  &._isSeachTyping {
    span {
      opacity: 0;
      visibility: hidden;

      transform: translate(20px, -50%);
    }
  }

  @media (max-width: 991.98px) {
    &__input {
      font-size: 14px;
      padding: 13px 15px;
    }

    span {
      font-size: 14px;
    }
  }
}

.burger {
  display: none;

  cursor: pointer;

  width: 90px;
  height: 40px;

  &__inner {
    position: relative;

    width: 30px;
    height: 40px;

    &:after,
    &:before {
      content: '';

      position: absolute;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: white;

      transition: bottom 0.3s ease, top 0.3s ease, transform 0.3s ease;
    }

    &:before {
      top: 10px;

      ._burgerActive & {
        top: 50%;
        transform: rotate(45deg) translateY(-50%);
      }
    }

    &:after {
      bottom: 10px;

      ._burgerActive & {
        bottom: 50%;
        transform: rotate(-45deg) translateY(50%);
      }
    }

    span {
      position: absolute;
      top: 50%;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: white;

      transform: translateY(-50%) scale(1);

      transition: transform 0.3s ease;

      ._burgerActive & {
        transform: translateY(-50%) scale(0);
      }
    }
  }

  @media (max-width: 991.98px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
