@import './Navigation.module.scss';

.header {
  position: fixed;
  top: 0;
  right: 0;

  width: calc(100% - var(--sidebar-width));

  background-color: var(--darken-black-custom-hsl);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 100%;
  }

  &__left {
    flex: 1 1 auto;
  }
  &__right {
    flex: 0 1 20%;
  }

  @media (max-width: 991.98px) {
    width: 100%;

    [data-navigation-selector] {
      display: none;
    }
  }
}

.headerSearchForm {
  display: flex;
  align-items: center;

  &__input {
    flex: auto;

    background-color: var(--primary-color-hsl);
    color: inherit;

    border: none;

    font-size: 14px;
    padding: 13px 15px;

    @media screen and (min-width: 991.98px) {
      padding: calc(
          11px + (16 - 11) * ((100vw - 991.98px) / (var(--max-width) - 991.98))
        )
        15px;

      font-size: calc(
        14px + (16 - 14) * ((100vw - 991.98px) / (var(--max-width) - 991.98))
      );
    }
  }
}

.burger {
  display: none;

  cursor: pointer;

  width: 90px;
  height: 40px;

  &__inner {
    position: relative;

    width: 30px;
    height: 40px;

    &:after,
    &:before {
      content: '';

      position: absolute;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: white;

      .__burgerActive & {
        top: 50%;
        transform: translateY(-50%);
      }

      transition: transform 0.5s ease;
    }

    &:before {
      top: 10px;

      .__burgerActive & {
        transform: rotate(405deg);
      }
    }

    &:after {
      bottom: 10px;

      .__burgerActive & {
        transform: rotate(315deg);
      }
    }

    span {
      position: absolute;
      top: 50%;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: white;

      transform: translateY(-50%) scale(1);

      .__burgerActive & {
        transform: translateY(-50%) scale(0);
      }

      transition: transform 0.5s ease;
    }
  }

  @media (max-width: 991.98px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.__burgerActive {
}
