@import '../functions.scss';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  height: 100vh;

  background-color: var(--primary-color-hsl);

  transition: transform 0.5s ease, background-color 0.5s ease;

  &__mask {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;

    width: 100vw;
    height: 100vh;

    opacity: 0;
    visibility: hidden;

    background-color: rgba(black, 0.2);

    transition: opacity 0.3s ease, visibility 0.3s ease;

    &._sidebarOpen {
      opacity: 1;
      visibility: visible;
    }
  }

  &._sidebarOpen {
    transform: translateX(0);
  }

  &__inner {
    position: relative;

    width: var(--sidebar-width);
    height: 100%;

    overflow-y: auto;

    text-align: center;
  }

  @media screen and (max-width: 991.98px) {
    &__mask {
      display: block;
    }
  }

  @media (max-width: 991.98px) {
    transform: translateX(-400px);

    background-color: var(--darken-black-custom-hsl);

    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.sidebarPicture {
  position: relative;

  width: 100%;

  &:after {
    content: '';

    display: block;

    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    box-shadow: 15px -15px 50px 15px rgba(13, 13, 13, 0.7) inset;
  }
}

.sidebarProfile {
  transform: translateY(adaptive-value(25, -50, 991.98));

  padding: 0 adaptive-value(25, 15);

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__avatar {
    width: adaptive-value(150, 130, 991.98);
    height: adaptive-value(150, 130, 991.98);

    margin: 0 auto;

    overflow: hidden;

    border-radius: 100%;
    border: 2px solid var(--white-hsl);
  }

  &__description {
    --status-color-hsl: hsl(var(--base-primary-bg), 87%);

    margin: adaptive-value(20, 15, 991.98) 0;
  }

  &__name {
    font-size: adaptive-value(20, 18, 991.98);

    margin-bottom: 6px;
  }

  &__status {
    color: var(--status-color-hsl);

    font-size: adaptive-value(16, 14, 991.98);
    font-weight: 300;

    line-height: 17px;
  }

  @media (max-width: 991.98px) {
    transform: translateY(-20px);

    &__inner {
      flex-direction: row;
      align-items: flex-end;
    }

    &__avatar {
      width: 100px;
      height: 100px;
    }

    &__description {
      text-align: left;

      margin-left: 10px;
      margin-bottom: 5px;
    }

    &__name {
      font-size: 18px;
    }

    &__status {
      font-size: 13px;
    }
  }
}

.sidebarProfileSocials {
  display: flex;
  align-items: center;
  justify-content: center;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin: 0 6px;

    svg {
      width: 35px;
      height: 35px;
    }
  }

  @media (max-width: 991.98px) {
    display: none;
  }
}

.sidebarDescription {
  margin: adaptive-value(20, 15, 991.98) 0;

  &:before {
    content: '';

    display: inline-block;

    width: 100%;
    height: 1px;

    background-color: var(--primary-black-hsl);

    margin-bottom: adaptive-value(30, 20);
  }

  &:after {
    content: '';

    display: inline-block;

    width: 100%;
    height: 1px;

    background-color: var(--primary-black-hsl);

    margin-top: 30px;
  }

  &__text {
    font-size: adaptive-value(16, 15, 991.98);
    line-height: adaptive-value(22, 20, 991.98);
  }

  @media screen and (min-width: 991.98px) {
    [data-navigation-selector] {
      display: none;
    }
  }

  @media (max-width: 991.98px) {
    margin-top: adaptive-value(30, 15);

    &:after {
      display: none;
    }

    &__text {
      display: none;
    }
  }
}

.sidebarControls {
  position: sticky;
  bottom: 0;

  width: 100%;
  height: adaptive-value(150, 110);


  &__inner {
    width: 100%;
    height: 100%;

    padding: 25px 0;


    background-color: var(--primary-color-hsl);

    transition: background-color 0.5s ease;

    @media screen and (max-width: 991.98px) {
      background-color: var(--darken-black-custom-hsl);
    }
  }

  &__button {
    cursor: pointer;

    border: none;
    border-radius: 25px;

    color: inherit;

    font-size: adaptive-value(18, 14);
    font-weight: 500;
    white-space: nowrap;

    padding: adaptive-value(17, 15) 20px;
    margin: 0 10px;

    transition: background-color 0.2s ease;

    &__red {
      background-color: var(--primary-red-hsl);

      box-shadow: 0px 7px 17px -10px rgba(242, 63, 63, 0.2);

      &:hover {
        background-color: var(--primary-darken-red-hsl);
      }
    }

    &__blue {
      background-color: var(--primary-blue-hsl);

      box-shadow: 0px 7px 17px -10px rgba(32, 84, 219, 0.35);

      &:hover {
        background-color: var(--primary-darken-blue-hsl);
      }
    }
  }
}
