@import '../functions.scss';

.stories {
  &__inner {
    overflow: hidden;
  }

  &__list {
    display: flex;
    align-items: center;

    gap: 25px;

    transition-property: transform;
    transition-timing-function: ease;
  }

  &__control {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: adaptive-value(20, 10, 991.98);

    > button {
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      width: adaptive-value(60, 50, 991.98);
      height: adaptive-value(40, 30, 991.98);

      background-color: transparent;

      border-radius: 10px;
      border: none;

      svg {
        fill: var(--white-hsl);

        transition: fill 0.2s ease;
      }

      &:disabled {
        svg {
          fill: hsl(var(--base-white), 60%);
        }
      }

      &:last-child {
        svg {
          transform: rotate(180deg);
        }
      }
    }

    @media (max-width: 991.98px) {
      display: none;
    }
  }
}

.storiesItem {
  user-select: none;

  position: relative;

  cursor: pointer;

  flex: 0 0 280px;
  height: 400px;

  overflow: hidden;

  border-radius: 10px;

  &__preview {
    transform: scale(1);
    transition: transform 2s ease;
  }

  @media screen and (min-width: 991.98px) {
    &:hover {
      .storiesItem__preview {
        transform: scale(1.15);
      }
    }
  }

  &__text {
    position: absolute;
    top: 30px;
    left: 30px;

    font-size: 22px;
    line-height: 26px;
  }

  &__date {
    position: absolute;
    bottom: 30px;
    right: 30px;

    font-size: 18px;
  }
}
