@import './lib.scss';
@import './vars.scss';
@import './functions.scss';
@import './mixins.scss';
@import './fonts.scss';

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: var(--defaul-font-family), sans-serif;
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight);

  color: var(--white-hsl);
  background-color: var(--primary-bg-hsl);
}

a {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;

  color: inherit;

  text-decoration: none;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  //min-height: 100vh;

  display: flex;
  flex-direction: column;

  overflow-x: hidden;
}

._container {
  max-width: 1230px;

  margin: 0 auto;
  padding: 0 15px;
}

.page-content {
  margin-top: adaptive-value(80, 60);
  padding-left: var(--sidebar-width);

  overflow: hidden;

  @media (max-width: 991.98px) {
    padding-left: 0;
  }
}
