:root {
  // Bases of colors
  --base-black: 0, 0%;
  --base-white: 0, 100%;
  --base-primary-bg: 0, 0%;
  --base-primary-blue: 238, 61%;
  --base-primary-red: 4, 85%;

  // Hsl
  --black-hsl: hsl(var(--base-black), 0%);
  --white-hsl: hsl(var(--base-white), 100%);
  --primary-bg-hsl: hsl(var(--base-primary-bg), 9%);
  --darken-black-custom-hsl: hsl(var(--base-primary-bg), 5%);
  --primary-color-hsl: hsl(var(--base-primary-bg), 13%);
  --primary-black-hsl: hsl(var(--base-primary-bg), 11%);
  --primary-red-hsl: hsl(var(--base-primary-red), 54%);
  --primary-darken-red-hsl: hsl(var(--base-primary-red), 40%);
  --primary-blue-hsl: hsl(var(--base-primary-blue), 49%);
  --primary-darken-blue-hsl: hsl(var(--base-primary-blue), 40%);

  // Resulutions
  --max-width-container: 1230;
  --max-width: 1920;
  --sidebar-width: calc(
    310px + (400 - 310) * ((100vw - 320px) / (var(--max-width) - 320))
  );

  // Fonts
  --default-font-size: 14px;
  --default-font-weight: 400;
  --defaul-font-family: 'Robot';

  // Animations
  --pop-cubic-bazier: cubic-bezier(0.3, 0.16, 0.13, 1.57);
}
